.product-wash-wrapper {
  padding-top: 20rpx;
  .module-contianer {
    background: #fff;
    margin-bottom: 20rpx;
    padding: 30rpx 30rpx;
  }
  .module-title {
    font-size: 32rpx;
    color: #1A1A1A;
    line-height: 44rpx;
    font-weight: bold;
    .subTitle {
      color: #999;
      font-size: 24rpx;
      line-height: 44rpx;
      padding-left: 10rpx;
    }
  }
  .wash-way {
    display: flex;
    justify-content: space-between;
    margin-top: 30rpx;
    .way-item {
      width: 215rpx;
      height: 80rpx;
      background: #fafafa;
      line-height: 80rpx;
      border-radius: 8rpx;
      border: 1px solid #fafafa;
      font-size: 28rpx;
      text-align: center;
      &.active {
        border-color: #FF3939;
        background: rgba(255, 57, 57, 0.1);
        color: #FF3939;
      }
    }
  }
  .way-tips {
    font-size: 20rpx;
    line-height: 30rpx;
    color: #999;
    margin: 36rpx 0 -6rpx 0;
  }
  .product-list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30rpx;
    .product-item {
      min-width: 215rpx;
      height: 80rpx;
      background: #fafafa;
      line-height: 80rpx;
      border-radius: 8rpx;
      border: 1px solid #fafafa;
      font-size: 28rpx;
      text-align: center;
      padding: 0 15rpx;
      margin: 0 30rpx 30rpx 0;
      &.active {
        border-color: #FF3939;
        background: rgba(255, 57, 57, 0.1);
        color: #FF3939;
      }
    }
  }
  .wash-photo {
    display: flex;
    margin-top: 30rpx;
    .photo-item {
      width: 132rpx;
      height: 132rpx;
      // border: 1rpx solid #B3B3B3;
      border-radius: 2rpx;
      margin-right: 30rpx;
      color: #999;
    }
    Image {
      width: 100%;
      height: 100%;
    }
    .name {
      font-size: 20rpx;
      color: #999;
      text-align: center;
    }
  }
  .footer-cover {
    height: 108rpx;
    width: 100%;
  }
  .footer-contianer {
    display: flex;
    height: 108rpx;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    .priceSum {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #e5e5e5;
      display: flex;
      Text {
        font-size: 32rpx;
        font-weight: bold;
        color: #1a1a1a;
        color: #FF3939;
      }
      .iconfont {
        font-size: 48rpx;
        color: #1a1a1a;
        position: relative;
        margin-right: 20rpx;
        .spot {
          background: #EE3F34;
          min-width: 28rpx;
          font-size: 20rpx;
          padding: 0 8rpx;
          height: 28rpx;
          border-radius: 14rpx;
          position: absolute;
          color: #fff;
          line-height: 28rpx;
          top: -5rpx;
          left: 25rpx;
        }
      }
    }
    .at-button {
      border: 0;
      width: 265rpx;
      height: 100%;
      line-height: 108rpx;
      font-size: 32rpx;
    }
    .addInCart {
      font-weight: bold;
    }
    .submit {
      background: #FF3939;
      color: #fff;
    }
  }
}
  .popup-contianer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 108rpx;
    .popup-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.25);
    }
    .popup-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      .content-title {
        font-size: 28rpx;
        color: #1a1a1a;
        height: 88rpx;
        line-height: 88rpx;
        display: flex;
        justify-content: space-between;
        padding: 0 30rpx;
        border-bottom: 1px solid #e6e6e6;
        .iconfont {
          font-size: 42rpx;
          color: #ccc;
        }
      }
    }
    .list-item {
      height: 88rpx;
      line-height: 88rpx;
      font-size: 28rpx;
      padding: 0 30rpx;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      justify-content: space-between;
      color: #1a1a1a;
      .price {
        font-size: 30rpx;
        color: #FF3939;
      }
    }
  }