.faq-list-wrapper {
  background: #fff;

  .at-accordion__header {
    height: 96rpx;

    &::after {
      border-color: #fff;
    }
  }

  .at-accordion__info__title {
    font-size: 30rpx;
    color: #1a1a1a;
    font-weight: bold;
  }

  .content {
    color: #999;
    font-size: 26rpx;
    line-height: 36rpx;
    padding: 16rpx 30rpx;
  }

  .at-accordion__arrow {
    .at-icon {
      font-size: 30rpx;
    }
  }

  .at-accordion__content {
    -webkit-transition: height 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: height 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: height 200ms cubic-bezier(0.47, 0, 0.745, 0.715);

    &::after {
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2);
    }

  }
}