.store-change-wrapper {
  width: 100%;
  height: 68rpx;
  padding: 6rpx 16rpx;
  .address-box {
    display: flex;
    image {
      width: 53rpx;
      height: 53rpx;
    }
    text {
      font-size: 28rpx;
      line-height: 54rpx;
      color: #1A1A1A;
      font-weight:600;
    }
  }
  
  at-action-sheet {
    .name {
      text-align: left;
      font-size: 30rpx;
      color: #333;
      line-height: 1.5;
    }
    .address {
      text-align: left;
      font-size: 26rpx;
      color: #999;
      line-height: 1.5;
    }
  }
}